<div class="grid w-full h-[100dvh] content-center">
  <div class="grid gap-4 grid-flow-row auto-rows-max place-items-center">
    <div class="grid align-middle h-auto">
      <img
        src="../../assets/images/slime_Big.png"
        alt="Slime"
        class="w-auto h-auto animate-bounce duration-1000"
      />
    </div>

    <div class="grid align-middle h-auto">
      <p
        class="bg-gradient-to-b from-sky-400 to-sky-200 text-6xl text-center bg-clip-text text-transparent font-extrabold drop-shadow-[0_1.2px_1.2px_rgba(255,255,255,0.8)] dark:drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)]"
      >
        SlimeJump
      </p>
    </div>

    <div class="grid align-middle h-auto">
      <button
        routerLink="/game"
        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-2xl font-medium  rounded-lg group bg-gradient-to-br from-sky-400 to-sky-200 group-hover:from-sky-400 group-hover:to-sky-200 hover:text-white dark:text-white hover:dark:text-black focus:ring-4 focus:outline-none focus:ring-sky-500 dark:focus:ring-sky-800"
      >
        <span
          class="relative px-[117px] py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          START
        </span>
      </button>
    </div>
    <div class="grid align-middle h-auto">
      <button
        routerLink="/tut"
        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-2xl font-medium  rounded-lg group bg-gradient-to-br from-sky-400 to-sky-200 group-hover:from-sky-400 group-hover:to-sky-200 hover:text-white dark:text-white hover:dark:text-black focus:ring-4 focus:outline-none focus:ring-sky-500 dark:focus:ring-sky-800"
      >
        <span
          class="relative px-24 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          TUTORIAL
        </span>
      </button>
    </div>
  </div>
</div>
