<div class="h-screen m-auto w-1/6">
  <div class="flex flex-col gap-5 justify-center align-middle">
    <div class="self-center">
      <img src="../../assets/images/platform1.png" class="h-auto w-80" />
    </div>
    <p class="text-orange-200 text-6xl text-center font-extrabold">SlimeJump</p>
    <button
      routerLink="/game"
      class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-2xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
    >
      <span
        class="relative px-28 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        START
      </span>
    </button>
    <!-- <button routerLink="/game" class="relative align-middle rounded-lg overflow-hidden border-none bg-transparent cursor-pointer outline-none select-none touch-manipulation transition-transform hover:brightness-110 active:translate-y-[-4px] focus:outline-none" role="button">
            <span class="absolute inset-0 rounded-lg bg-black bg-opacity-25 transform translate-y-4 transition-transform cubic-bezier[.3,.7,.4,1]"></span>
            <span class="absolute inset-0 rounded-lg bg-gradient-to-r from-[hsl(340,100%,16%)] via-[hsl(340,100%,32%)] to-[hsl(340,100%,16%)]"></span>
            <span class="relative text-5xl font-bold block p-7 md:p-5 lg:p-7 rounded-lg text-white bg-[hsl(345,100%,47%)] transform translate-y-[-4px] transition-transform cubic-bezier[.3,.7,.4,1]">
                START
            </span>
        </button> -->
    <!-- <button class=" text-[#451952] text-[40px] font-normal align-middle bg-[#F39F5A] no-underline inline-block cursor-pointer text-center px-6 py-3 rounded-full border-[solid] border-[#AE445A] border-[5px]
        hover:border-[#F39F5A] hover:bg-[#AE445A] ease-in-out duration-500" routerLink="/game">
            start
        </button> -->
    <button
      class="text-[#451952] text-[40px] font-normal bg-[#F39F5A] no-underline inline-block text-center px-6 py-3 rounded-full border-[solid] border-[#AE445A] border-[5px] hover:border-[#F39F5A] hover:bg-[#AE445A] ease-in-out duration-500"
    >
      tutorial
    </button>
  </div>
</div>
